

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/form', user: @user, newbook: @newbook %>
    </div>

    <div class="col-md-8 offset-md-1">
      <!--User一覧-->
      <h2>Users</h2>
      <table class="table">
        <thead>
            <tr>
              <th>image</th>
              <th>name</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <!--image-->
                <%= image_tag user.get_profile_image(100,100)%>
              </td>
              <td>
                <!--name-->
                <%= user.name %>
              </td>
              <td>
                <!--link-->
                <%= link_to "show", user_path(user.id) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>